onboarding = false

[terminal]
{{ if ne .chezmoi.os "darwin" }}
default_shell = "/usr/bin/zsh"
{{ else }}
default_shell = "/bin/zsh"
{{ end }}

[keys]
# Prefix: C-b -> C-f
prefix = "ctrl+f"

detach = "prefix+d"
reload_config = "prefix+r"
new_tab = "prefix+c"
rename_tab = "prefix+shift+a"
previous_tab = "prefix+ctrl+t"

focus_pane_left = "prefix+h"
focus_pane_down = "prefix+j"
focus_pane_up = "prefix+k"
focus_pane_right = "prefix+l"

split_horizontal = "prefix+minus"
split_vertical = "prefix+backslash"

close_pane = "prefix+x"
zoom = "prefix+z"
resize_mode = "prefix+shift+r"
cycle_pane_next = "prefix+ctrl+n"

[[keys.command]]
key = "prefix+alt+g"
type = "pane"
command = "lazygit"

[ui]
mouse_capture = false

[ui.toast]
delivery = "off"

[experimental]
pane_history = false
